html{
    body{
        font-family: hirakakupro-w3;
        margin:0;
        font-size:16px;
        a{
            text-decoration:none;
            &:hover{
                text-decoration: none;
            }
        }
        li{
            list-style: none;
        }
    }
}