.page-map{
    background: $footer-bg;
    padding-top: .1rem;
    padding-top: .1rem;
    .breadcrumb-item{
        font-size: .7rem;
        + .breadcrumb-item::before{
            content: '>';
            padding-right: .5rem;
            padding-left: .5rem;
        }
    }
}