
@media only screen and (max-width: 667px){
    .nav-toggler{
        position: absolute;
        right: 15px;
        top: 40px;
        padding: .5rem .7rem;
        border-radius: 7px;
        .fas{
            font-size: 1.3rem;
        }
    }
    .header-nav-section{
        .site-navigation-bar{
            position: fixed;
            background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8));
            height: 100%;
            width: 96%;
            top:0;
            left: -100%;
            z-index: 100;
            transition: 1s;
            ul{
                margin: 0;
                padding: 1rem;
                text-align: center;
                li{
                    margin-bottom: 1rem;
                    padding-bottom: .5rem;
                    border-bottom: 1px solid $clr-white;
                    a{
                        color: $clr-white;
                        font-size: .9rem;
                    }
                }
            }
        } 
    }
}
